<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wintime.dao.CustomerDao">
    <resultMap id="BaseResultMap" type="com.wintime.entity.Customer" >
        <result column="ID" property="id" jdbcType="BIGINT" />
        <result column="Name" property="name" jdbcType="VARCHAR" />
        <result column="Phone" property="phone" jdbcType="VARCHAR" />
        <result column="Address" property="address" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getCustomerById" parameterType="long" resultMap="BaseResultMap">
        select * from tbl_customer where ID=#{customerID,jdbcType=BIGINT}
    </select>

    <select id="getAllCustomers" resultMap="BaseResultMap">
        select * from tbl_customer
    </select>

    <insert id="saveCustomer" useGeneratedKeys="true" keyProperty="ID" parameterType="com.wintime.entity.Customer">
        insert into tbl_customer(Name,Phone,Address)
        values(#{name},#{phone},#{address})
    </insert>


</mapper>